:root{
    --mainBg: #2d2d2d;
    --lightGrey: #131015;
    --blackBg: #000000;
    --whiteTxt: #ffffff;
    --red: #e50914;
    --links: rgba(255,255,255,0.7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5; 
}

body{
    background-color: var(--mainBg);
    color: var(--whiteTxt);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
}

.container{
    padding: 10px;
    width: min(1300px,90vw);
    margin: 0 auto;
    
}

h2{
    font-size: min(max(3vw,2rem),50px);
    font-weight: 700;
}

h3{
    font-size: min(calc(20px + 0.5vw),min(5vw,2rem));
    font-weight: 400;
    text-align: start;
}

p{
    font-size: max(1.125rem,1.3vw);
}
header p+div>p{
    font-size: max(1.125rem,1.1vw);
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/netFlix.jpg);
    background-size: auto;
    height: max(490px,35vw);
}

header,section,footer{
    background-color: var(--blackBg);
}

header img[src *=".svg"]{
    width: max(89px,9vw);
    height: max(30,3vw);
}

header>div>div:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header>div>div:last-of-type{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

header>div>div:last-of-type p{
    margin-top: 20px;
    padding: 0 10px;
}

header>div>div:last-of-type>div>div{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    margin: 25px 0 0 0;
}

header button{
    background-color: var(--red);
    color: var(--whiteTxt);
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
}

header>div>div:first-of-type button{
    font-weight: 600;
}

header>div>div:last-of-type button{
    font-weight: 600;
    max-width: max(10vw,200px);
    font-size: larger;
    padding: 10px 15px;
}



header input{
    padding: 7px 15px;
    background-color: var(--lightGrey);
    color: var(--whiteTxt);
    border: 1px solid var(--mainBg);
    opacity: 90%;
    width: min(80%,650px);
    line-height: 2;
    font-size: inherit;
    border-radius: 5px;
}

header input:invalid{
    border: var(--red) 1px solid;

}

header input:placeholder-shown{
    border: 1px solid var(--mainBg);
}

header input:valid{
    border: 1px solid lightgreen;
}

img[src *=".png"]{
    width: min(700px,80vw);
}


img[src *=".jpg"]{
    width: min(700px,80vw);
}

header,section{
    border-bottom: var(--mainBg) 8px solid;
}

section{
    padding: max(3vw,60px) 0;
}

section:first-of-type>div {
    display: flex;
    align-items: center;
    text-align: start;
}

section:nth-of-type(3)>div{
    text-align: start;
}

section:nth-of-type(2)>div,section:nth-of-type(4)>div{
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: row-reverse;
}

section:nth-of-type(5) p{
    display: none;
    background-color: var(--mainBg);
    text-align: start;
    padding: 15px;
    border-top: 1px var(--lightGrey) solid;
}

section:nth-of-type(5)>div>div:not(:last-of-type)>div>button{
    background-color: var(--mainBg);
    border: none;
    padding: 15px;
    width: 100%;
    color: var(--whiteTxt);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section:nth-of-type(5) button>img{
    transform: rotate(90deg);
}

section:nth-of-type(5) button:hover{
    cursor: pointer;
}

section:nth-of-type(5)>div>div:not(:last-of-type)>div{
    margin-bottom: 10px;
}

section:last-of-type>div>div:last-of-type {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 40px;
}

section:last-of-type>div>div:last-of-type p{
    display: block;
    background-color: var(--blackBg);
    border: none;
    text-align: center;
}

section:last-of-type>div>div:last-of-type input{
    padding: 7px 15px;
    background-color: var(--lightGrey);
    color: var(--whiteTxt);
    border: 1px solid var(--mainBg);
    opacity: 90%;
    width: min(85%,650px);
    line-height: 2;
    font-size: inherit;
    border-radius: 5px;
}

section:last-of-type>div>div:last-of-type button{
    background-color: var(--red);
    color: var(--whiteTxt);
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    font-weight: 600;
    max-width: max(10vw,200px);
    font-size: larger;
}

section:last-of-type>div>div:last-of-type>div {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 15px;
}

footer{
    padding: 30px 0 ;
}

footer a{
    color: var(--links);
}

footer>div>ul{
    margin-bottom: 20px;
}

footer ul{
    text-align: start;
    list-style: none;
}

footer>div>div{
    display: flex;
    justify-content: space-between;
}

footer>div>div>ul{
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    flex-grow: 1;
    height: 150px;
}


@media screen and (max-width: 768px) {
    .container{
        margin: 0;
        width: 100%;
    }

    section:not(:last-of-type)>div {
        display: block;
        text-align: center;
    }

    footer>div>div>ul{
        height: 300px;
    }
}
